//
// ## Links
//

a {
  color: $base-ui-color;

  &:hover,
  &:focus,
  &:active {
    color: darken($base-ui-color, 15%);
  }

  &:active {
    top: 1px;
    position: relative;
  }
}

.link {
  @include modifier("hidden") {
    text-decoration: none;
  }
}

