//
// ## Variables
//

// ### Font

$base-font-size:    1rem!default;
$base-line-height:  1.5!default;
$base-font-family:  "Source Sans Pro", Helvetica, Arial, sans-serif!default;

// ### Colors

$base-font-color:   #333!default;
$base-bg-color:     #fcfcfc!default;
$base-ui-color:     #ed143d!default;
$comp-ui-color:     #ffd700!default;

// ### Sizes

$base-spacing-unit: 1.5rem!default;

// ### Breakpoints

$breakpoint-lap:    480px!default;
$breakpoint-desk:   1024px!default;
